.leftAside {
    color: black;

    &:hover {
        background-color: $asideLeft-active-gray;
        color: $highlight-active;
        cursor: pointer;
    }
}

.profilePic {
    border-radius: 100%;
    ;
}

.padding-left-aside {
    padding-left: 2.5rem;
}

.padding-header-my-tags {
    padding: 0.5rem;
}

.my-tags {
    margin-bottom: 0;
}

.padding-my-tags {
    padding: 0.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.stickers-color {
    color: $highlight-color;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: x-large;
    line-height: 20px;
}

.plain {
    &:hover {
        text-decoration-line: none;
    }
}

.stickers-collage {
    width: 240px;
    height: auto;
}


.button-left-aside {
    padding: 0.5rem;
    align-items: center;
    margin-bottom: 1.5rem;

    border: none;
    // padding: 0.5rem;

    &:hover {
        .heart {
            background-color: $heart-bg-active;
            fill: $heart-active;
        }

        .unicorn {
            background-color: $unicorn-bg-active;
            fill: $unicorn-active;
        }

        .save {
            background-color: $saved-bg-active;
            fill: $saved-active;
        }

    }
}

.heart {
    padding: 0.5rem;
    border-radius: 100%;
}

.unicorn {
    padding: 0.5rem;
    border-radius: 100%;
}

.save {
    padding: 0.5rem;
    border-radius: 100%;
}

.more {
    padding: 0.5rem;
    border-radius: 100%;

    &:hover {
        background-color: $asideLeft-active-gray;
        border-radius: 100%;
    }
}

.bottom-navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: $bg-color;
    z-index: 1;

    .button-left-aside {
        margin: 0;
        background-color: none;
        &:hover {
            .heart {
                background-color: $heart-bg-active;
                fill: $heart-active;
            }

            .unicorn {
                background-color: $unicorn-bg-active;
                fill: $unicorn-active;
            }

            .save {
                background-color: $saved-bg-active;
                fill: $saved-active;
            }

        }
    }
}

.user-name {
    margin-left: 8px;
}
.fix-padding {
    transition: padding 0,4s;
}