
main{
    background-color: $bg-color;
}
main .nav-tabs{
    max-width: 600px;
    margin-bottom: 20px;
    border: none;
    position: relative;
}
.nav-item{
    position: relative;
}
.nav-links{
    color: $inactive-gray;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 14px 10px;
    background: transparent;
    border-radius: 5px;
    margin-right: 6px;
}

.nav-tabs li:nth-child(6){
    margin-right: -5px;
}
.nav-links:hover{
    color: $highlight-color;/****CLASE GENERAL****/
    background: rgb(224, 226, 241);
    text-decoration: none;
    border: none;
}
.linea {
    display: block;
    position: absolute;
    top: 36px;
    left: 17%;
    width: 60%;
    height: 3px;
    background: $highlight-color;
    transition: all 200ms ease-in;
}
.nav-links.active:hover .linea{
    left: 0%;
    width: 90%;
}
.nav-links-icon{
    color: $inactive-gray;
    padding:5px 10px;
    margin-right: 6px;
}
.nav-links-icon:hover{
    color: $highlight-color;/****CLASE GENERAL****/
    background: rgb(224, 226, 241);
    text-decoration: none;
}
.navbar-heading{
    font-size: 1.25rem;
    font-weight: 700;
}

.single-post{
    padding: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
    border-radius: 5px;
    margin-bottom: 10px;
}
.single-post:active{
    border: 1px solid  $highlight-color;
}
.single-post p{
    font-size: 16px;
    margin-bottom: -8px;
    color: rgb(81, 88, 95);/****CLASE GENERAL****/
    margin-bottom: -10px;
}
.single-post p:hover{
    color: rgb(8, 9, 10);/****CLASE GENERAL****/
}
.single-post .date{
    padding-top: 8px;
    font-size: 0.875rem;
    color: rgb(114, 122, 135);
}
.single-post h2{
    color: rgb(8, 9, 10);/****CLASE GENERAL****/
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}
.single-post h2:hover{
    color: $highlight-color;/****CLASE GENERAL****/
}
.single-post .tag-list{
    font-size: 0.876rem;
}
.single-post .actions{
    font-size: 15px;
    font-weight: 400;
    margin-top: 4px;
}
.single-post .actions li{
    padding: 3px 8px 3px 0px;
    color: rgb(66, 71, 78);
}
.single-post .actions li:hover{
    background-color: rgb(247, 247, 247);/****CLASE GENERAL****/
    color: rgb(8, 9, 10);/****CLASE GENERAL****/
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);/****CLASE GENERAL****/
}
.post-intro-image{
    width: 100%;
    max-height: 275px;
    border-radius: 5px 5px 0 0;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
}

.actions span{
    padding-left: 4px;
}

.post-link{
    list-style: none!important;
    color: $inactive-gray-light;
    text-decoration: none;
}
.post-link:hover{
    list-style: none!important;
    color: #08090a!important;
    text-decoration: none;
}

.reading{
    color: rgb(114, 122, 135);/****CLASE GENERAL****/
    margin-right: 10px;
    padding-top: 8px;
    font-size: 13px;
    min-width: 70px;
}
.single-post button{
    background-color: rgb(216, 218, 222);/****CLASE GENERAL****/
    font-size: 17px;
    color: rgb(66, 71, 78);
    max-height: 42px;
    margin-top: -3px;
    border: none;
}
.single-post button:hover{
    background: rgb(190, 195, 201);/****CLASE GENERAL****/
    color: rgb(8, 9, 10);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.first-post .single-post{
    border-radius: 0 0 5px 5px;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
}

.post-profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 40px;
    margin-top: 4px;
}
.tag-list{
    display: flex;
    list-style: none;
    color: rgb(114, 122, 135);
}
.tag-list li{
    padding-left: 15px;
}
.tag-list li:hover{
    color: rgb(8, 9, 10);
    cursor: pointer;
}
.tag-list li:first-of-type{
    padding-left: 0px;
}
.tag-list li span{
    color: rgb(114, 122, 135);
}
.post-buttons, .post-buttons .actions{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.right-post-buttons{
    display: flex;
    align-content: center;
}

@media only screen and (min-width: 768px) {
    .nav-links {
        font-size: 0.8rem;
        padding: 14px 7px;
    }

}
.date{
    padding-top: 8px;
    font-size: 0.875rem;
    color: rgb(114, 122, 135);
}
.inside-single-post{
    padding: 15px;
    background-color: white;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
    border-radius: 5px;
    margin-bottom: 10px;
}

.inside-post{
    margin-bottom: 50px;
}
.inside-post-image{
    width: 100%;
    max-height: 330px;
    border-radius: 5px 5px 0 0;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
}

.inside-post h1{
    color: rgb(8, 9, 10);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 1rem;

}
.inside-post a{
    color: #1395b8;
    text-decoration: none;
}
.inside-post .media-body{
    padding: 2rem 4rem;
}

.inside-post .post-profile-picture{
    margin-right: 10px;
}
.profile{
    margin-bottom: 50px;
}
.profile p{
    margin-bottom: 0;
}
.profile-user .name{
    padding-top: 7px;
    padding-right: 15px;
    font-weight: 500;
    &:hover{
        color: #1E38BB;
        cursor: pointer;
    }
}
.badge{
    font-weight: 500;
}

.badge-1{
    background-color: #1E38BB;
    color: #FFDF5B;
    padding:8px;
    &:hover{
        cursor: pointer;
    }
    span{
        opacity: 0.4;
    }
}
.badge-2{
    background-color: #000000;
    color: #FFFFFF;
    padding:8px;
    &:hover{
        cursor: pointer;
    }
    span{
        opacity: 0.4;
    }
}
.badge-3{
    background-color: transparent;
    color: grey;
    padding:8px;
    &:hover{
        cursor: pointer;
        color: black;
    }
    span{
        opacity: 0.4;
    }
}
.badge-4{
    background-color: #FEFFA5;
    color: #b30047;
    padding:8px;
    &:hover{
        cursor: pointer;
    }
    span{
        opacity: 0.4;
    }
}

.code-block{
    background-color: black;
    padding: 30px;
    border-radius: 5px;
}
.discussion h2{
    color: #202428;
    font-weight: 700;
    font-size: 1.5rem;
}
.discussion-title{
    margin: 50px 0;
}
.discussion textarea {
    width: 100%;
    height: 9vh;
    padding: 15px;
    background-color: #F9FAFA;
    cursor: pointer;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
    border-radius: 5px;
    margin-bottom: 10px;
}
.discussion textarea:focus {
    border: 2px solid #3B49DF;
    -webkit-box-shadow: 1px 1px #3B49DF;
    box-shadow: 1px 1px #3B49DF;
    outline: 0;
}
.comment{
    padding: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
    border-radius: 5px;
    margin-bottom: 10px;
}
.comment header .btn-secondary{

    padding: 0;
    margin: 0;
    background-color: transparent;
    color: rgb(216, 218, 222);
    border: none;
    &:hover{
        background-color: rgb(216, 218, 222);
        color: rgb(8, 9, 10);
    }

}
.discussion-title .btn-secondary{
    background-color: transparent;
    color: rgb(8, 9, 10);
    padding: 0 15px;
    border: 2px rgb(216, 218, 222) solid;/****CLASE GENERAL****/
    box-shadow: 1px 2px 3px rgb(216, 218, 222);
    &:hover{
    border:  2px rgb(181, 184, 187) solid;
    background-color: #F9FAFA;
    }

}
@media (max-width:  767.98px) {
    .inside-post .media-body {
        padding: 0!important;
    }
}
@media (max-width: 991.98px) { 
    .inside-post .media-body {
        padding: 1rem!important;
    }
}